.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.pokeCard {
  width: 100px;
  height: 100px;
  background-color: rgb(225, 225, 225);
  margin: 30px;
  border-radius: 20%;
  box-shadow: 0 0 5px;
}

.red {
  color: red !important;
}
